{{!-- <div class="row">
    <h1>Greeted people</h1>

    <h2>
        Hello, {{names}} has been greeted {{counter}} times
    </h2>
     <form action="/back" method="POST">
      <input class="submBtn" type="submit" value="back" id="backBtn"><br><br>
      </form>
</div> --}}