<div class="row">
    <h1>Registration numbers</h1>

    <table>
        <ul>
            {{#each registration}}

            <li>{{regNumber}}</li>

            {{/each}}
        </ul>
    </table>
    <td><a href="/reg_numbers/{{towns}}">{{ regNum}} </a></td>
</div>